* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    background-color: #006241;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 2px 8px 26px 0px #141414;
}
.header__img {
    width: 45px;
}
.header__link, .header__container-login {
    display: none;
}
.header__icono-mobile {
    font-size: 40px;
    color: white;
} 
.main {
    padding: 15px;
    margin-top: 80px;
    
}
.main__titulo {
    font-weight: bold;
    font-size: 56px;
    line-height: 65px;
    margin-top: 20px;
}
span {
    color: #006241;
}
.main__parrafo {
    margin-top: 25px;
    font-weight: bolder;
    line-height: 23px;
}
.main__img {
    display: none;
}
.section {
    background-color: #006241;
    padding: 45px 15px 55px 15px;
    margin-top: 40px;
}
.section__galeria-img {
    width: 288px;
    height: 499px;
    margin-top: 25px;
}
.contacto {
    background-color: #141414;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.contacto__formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #006241;
    height: 200px;
}

.contacto__titulo {
    color: #006241;
    align-self: center;
}
.contacto__correo, .contacto__comentario {
    color: white;
    display: flex;
    flex-direction: column;
}
.contacto__email:focus, .contacto__texarea:focus {
    background-color: black;
}
 .contacto__texarea {
    color: #006241;
    height: 100px;
    border-radius: 5px;
}
.contacto__email {
    color: #006241;
    border: 1px solid white;
    border-radius: 5px;
}
.contacto__email::placeholder, .contacto__texarea::placeholder {
    color: #006241;
}
.contacto__enviar {
    width: 100px;
    align-self: center;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: inherit;
    color: white;
    text-align: center;
    padding: 3px 10px ;
}
.contacto__enviar:hover {
    background-color: #B0C20C;
    transition: all 1s;
}
.contacto__formulario {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.cards-container {
    display: flex;
    flex-direction: column;
}
.article {
    width: 100%;
    padding: 15px 30px;
    position: relative;
    
}
.article__circulo {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #D8F007;
    border: 1px solid #D8F007;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: black;
    font-size: 20px;
    padding-top: 8px;
}
.article__card {
    background-color: #006241;
    
    
}
.article__card-img {
    width: 100%;
}
.article__span {
    color: #FFFF00;
}
.article__parrafo, .article__titulo {
    padding: 10px;
    color: white;
}
.article__boton {
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: inherit;
    color:white;
    padding: 5px 30px;
}
.article__boton:hover {
    background-color: #B0C20C;
    transition: all 1s;
}
.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
}
.footer__registro {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
}
.footer__boton {
    display: flex;
    border: none;
    border-radius: 10px;
    background-color: inherit;
    color:#006241;
    font-weight: bold;
    font-size: medium;
}
.footer__redes {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    color:#006241;
}
.footer__icon {
    margin: 5px 5px 5px 0;
    font-size: 20px;
}
.footer__contacto {
    display: flex;
    flex-direction: row;
    padding: 25px 15px;
}
.footer__link {
    color: #09aa00;
    text-decoration: none;   
}