* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    background-color: #006241;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 2px 8px 26px 0px #141414;
}
.header__img {
    width: 45px;
}
.header__link, .header__container-login {
    display: none;
}
.header__icono-mobile {
    font-size: 40px;
    color: white;
} 
.main {
    padding: 15px;
    margin-top: 80px;
    
}
.main__titulo {
    font-weight: bold;
    font-size: 56px;
    line-height: 65px;
    margin-top: 20px;
}
span {
    color: #006241;
}
.main__parrafo {
    margin-top: 25px;
    font-weight: bolder;
    line-height: 23px;
}
.main__img {
    display: none;
}
.section {
    background-color: #006241;
    padding: 45px 15px 55px 15px;
    margin-top: 40px;
}
.section__galeria-img {
    width: 288px;
    height: 499px;
    margin-top: 25px;
}
.contacto {
    background-color: #141414;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.contacto__formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #006241;
    height: 200px;
}

.contacto__titulo {
    color: #006241;
    align-self: center;
}
.contacto__correo, .contacto__comentario {
    color: white;
    display: flex;
    flex-direction: column;
}
.contacto__email:focus, .contacto__texarea:focus {
    background-color: black;
}
 .contacto__texarea {
    color: #006241;
    height: 100px;
    border-radius: 5px;
}
.contacto__email {
    color: #006241;
    border: 1px solid white;
    border-radius: 5px;
}
.contacto__email::placeholder, .contacto__texarea::placeholder {
    color: #006241;
}
.contacto__enviar {
    width: 100px;
    align-self: center;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: inherit;
    color: white;
    text-align: center;
    padding: 3px 10px ;
}
.contacto__enviar:hover {
    background-color: #B0C20C;
    transition: all 1s;
}
.contacto__formulario {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.cards-container {
    display: flex;
    flex-direction: column;
}
.article {
    width: 100%;
    padding: 15px 30px;
    position: relative;
    
}
.article__circulo {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #D8F007;
    border: 1px solid #D8F007;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: black;
    font-size: 20px;
    padding-top: 8px;
}
.article__card {
    background-color: #006241;
    
    
}
.article__card-img {
    width: 100%;
}
.article__span {
    color: #FFFF00;
}
.article__parrafo, .article__titulo {
    padding: 10px;
    color: white;
}
.article__boton {
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: inherit;
    color:white;
    padding: 5px 30px;
}
.article__boton:hover {
    background-color: #B0C20C;
    transition: all 1s;
}
.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
}
.footer__registro {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
}
.footer__boton {
    display: flex;
    border: none;
    border-radius: 10px;
    background-color: inherit;
    color:#006241;
    font-weight: bold;
    font-size: medium;
}
.footer__redes {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    color:#006241;
}
.footer__icon {
    margin: 5px 5px 5px 0;
    font-size: 20px;
}
.footer__contacto {
    display: flex;
    flex-direction: row;
    padding: 25px 15px;
}
.footer__link {
    color: #09aa00;
    text-decoration: none;   
}
@media (min-width: 768px) {
    .header__icono-mobile {
        display: none;
    }
    .header__link, .header__container-login {
        display: block;
    }
    .header__container-login {
        color: white;
        font-size: 45px;
    }
    .header__container-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header__link {
        padding-left: 30px;
        text-decoration: none;
    }
   
    .main {
        display: flex;
        flex-direction: row;
    }
    .main__container-vista-principal {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 25px;
    }
    .main__img {
        display: block;
    }
    .main__container-logo {
        flex-direction: row;
        width: 50%;
        padding: 50px;
    }
    .main__img {
        width: 275px;
        height: 275px;
    }
    .section__container-galeria {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 20px;
    }
    .section__galeria-img {
        width: 210px;
        height: 350px;
    }
    .contacto {
        padding: 50px;
    }
    .contacto__formulario {
        padding: 20px;
        height: 250px;
    }
    .contacto__texarea {
        width: 100%;
        height: 100px;
    }
    .cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article {
        width: 50%;
        display: flex;
        flex-direction: row; 
        
    }
    .article__card {
        width: 100%;
    }
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__registro{
        padding: 30px 30px;
    }
    .footer__redes{
        justify-content: center;
        align-items: center;
    }
    .footer__icon {
        margin: 20px 20px 20px 0;
        font-size: 25px;
    }
    .footer__contacto {
        width: 300px;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .main__container-vista-principal {
        width: 50%;
        padding: 20px 0 0 30px;
    }
    .main__titulo {
        font-size: 72px;
        width: 80%;
        line-height: 82.8px;
    }
    .main__parrafo {
        font-size: 18.4px;
        width: 90%;
        line-height: 31.2px;
    }
    .main__container-logo {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .main__img {
        width: 120%;
        height: 90%;
    }
    .section__galeria-img {
        width: 285px;
        height: 450px;
        margin-top: 10px;
    }
    .contacto {
        height: 500px;
        align-items: center;
    }
    .contacto__formulario {
        width: 70%;
        height: 90%;
        justify-content: start
    }
    .contacto__correo {
        margin-top: 10px;
        font-size: 20px;
    }
    .contacto__email, .contacto__texarea {
        margin-top: 10px;
        padding: 6px;
        border-radius: 9px;
    }
    .contacto__comentario {
        margin-top: 20px;
        font-size: 20px;
    }
    .contacto__enviar {
        align-self: self-start;
        border: 2px solid white;
        border-radius: 10px;
        font-size: 16px;
        width: 200px;
    }
    .cards-container {
        padding: 40px 0 40px 0;
        
    }
    .article__card {
        width: 95%;
        
    }
    .article__circulo {
        right: 20px;
        top: -15px;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        padding-top: 15px;
        font-size: 24px;
        font-weight: 700;
    }
    .footer {
        height: 250px;
    }
    .footer__registro {
        justify-content: center;
        width: 300px;
        
        margin-left: 25px;
    }
    .footer__boton {
        font-size: 19px;
    }
    .footer__redes {
        margin-left: 30px;
    }
    .footer__icon {
        margin: 40px 40px 40px 0;
        font-size: 25px;
    }
    .footer__contacto {
        
        width: 350px;
        padding-right: 50px;
    }
    .footer__link {
        font-size: 19px;
        margin-right: 4px;
    }
}